<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Web Get Data From Sheet</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <style>

      /*just bg and body style*/
      .container{
        background-color:#ffffff;
        padding-bottom:20px;
        margin-top:10px;
        border-radius:5px;
        }
        .center{
        text-align:center;  
        }
        #top{
        margin-top:20px;  
        }
        .btn-container{
        background:#fff;
        border-radius:5px;
        padding-bottom:20px;
        margin-bottom:20px;
        }
        .white{
        color:white;
        }
        .imgupload{
        color:#1E2832;
        padding-top:40px;
        font-size:7em;
        }
        #namefile{
        color:black;
        }
        h4>strong{
        color:#79be51
        }
        .btn-primary{
        border-color: #79be51 !important;
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #79be51 !important;
        border-color: #79be51 !important;
        
        }
        
        /*these two are set to not display at start*/
        .imgupload.ok{
        display:none;
        color:green;
        }
        .imgupload.stop{
        display:none;
        color:rgb(115, 255, 0);
        }
        
        
        /*this sets the actual file input to overlay our button*/ 
        #fileup{
        opacity: 0;
        -moz-opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        width:200px;
        cursor: pointer;
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
        height: 50px;
        }
        
        /*switch between input and not active input*/
        #submitbtn{
          background-color: #ddd;
          padding: 5px 10px;
          border-radius: 5px;
          color: rgb(255, 255, 255);
          margin-bottom: 5px;
          width: 200px;
          height: 40px;


        }

        
        /*www.emilianocostanzo.com*/
        #sign{
          color:#1E2832;
          position:fixed;
          right:10px;
          bottom:10px;
          text-shadow:0px 0px 0px #1E2832;
          transition:all.3s;
        }
        #sign:hover{
          color:#1E2832;
          text-shadow:0px 0px 5px #1E2832;
        }

    </style>
  </head>
  <body>


    <form action="" method="POST" enctype=multipart/form-data id="upfile-form" >
    <div class="text-center well">
        <div style="width: 30%; float: left;">
          <label>HOST: </label> 
          <input type="text" id="host" name="host" value="103.141.141.13">
        </div>

        <div style="width: 30%; float: left;">
          <label>PATH TO SAVE DATA: </label> 
          <input type="text" id="path" name="path" value="">
        </div>
    </div>
    
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <div class="btn-container">
            <h1 class="imgupload"><i class="fa fa-file-image-o"></i></h1>
            <div id="namefile" ></div>
            <button type="button" id="btnup" class="btn btn-primary btn-lg">Tải file</button>
            <input type="file" value="" name="fileup" id="fileup">
          </div>
        </div>
      </div>
      <div class="row">			
        <div class="col-md-12 text-center">
          <input type="submit" value="Submit!" class="btn btn-primary" id="submitbtn">
        </div>
        <div class="col-md-12 text-center">
            {{path_nlu}}
        </div>
      </div>


    
    <div class="class_session_id">
        <input id="session_id" type="text" name="session_id" class="" value="" style="visibility: hidden;">
        <input id="text_conversation_tmp" type="text" name="text_conversation_tmp" class="" value="" style="visibility: hidden;">
    </div>
    </form>
    <div class="container" style="padding-top: 50px">
      <blockquote class="display-error">
      </blockquote>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
      var data = JSON.parse('{{data | tojson}}')
      
      $(".display-error").empty();
      if(data.status == "ERROR"){
        console.log(data.list_error)
        for(i =0 ; i < data.list_error.length ; i+=1){
          $('.display-error').append('<p class="font-weight-bold" style="font-size: 15px ;">' + data.list_error[i].split("|")[0] + '</p>');
          $('.display-error').append('<p class="font-weight-bold" style="font-size: 15px ;">' + data.list_error[i].split("|")[1] + '</p>');
          $('.display-error').append('<p class="font-weight-bold" style="font-size: 15px ;">' + data.list_error[i].split("|")[2] + '</p>');

        }
      }
      if(data.status == "OK"){
        $('.display-error').append('<p class="font-weight-bold" style="font-size: 15px ;">' + data.message + '</p>');

      }

      var session_id = Math.floor(Math.random() * 10000000);
      if (typeof(data.session_id) == "undefined") {
        var session_id = Math.floor(Math.random() * 10000000);
      } else {
        var session_id = data.session_id;
      }
      console.log(session_id)
      document.getElementById("session_id").value = session_id;
      console.log("asassss",document.getElementById("session_id").value)
      var fileupload;
      document.getElementById("fileup").addEventListener("change",function(event) {
        var input = event.srcElement;
        var fileName = input.files[0].name;
        fileupload = input.files[0];

        console.log("fileName")
        document.getElementById("namefile").textContent = fileName;

      });

      


    </script>
  </body>
</html>